.app {
}
.user-data {
  width: 500px;
  padding: 50px;
  box-shadow: 0 0 10px blue;
  text-align: center;
  margin: 30px auto;
}
.user-data h1 {
  color: blue;
}
.user-details {
  width: 500px;
  padding: 50px;
  box-shadow: 0 0 10px coral;
  text-align: center;
  margin: 30px auto;
}
.user-details h1 {
  color: coral;
}
.user-details span {
  color: Green;
}
