* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#rootSection {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://springboard-cdn.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header img {
  position: relative;
  left: 90px;
}
#header div {
  position: relative;
  right: 90px;
}

#header button {
  padding: 9px 21px;
  background: none;
  color: white;
  border: none;
  margin-left: 3px;
  border-radius: 4px;
}
#header div button:first-child {
  border: 1px solid white;
}
#header div button:last-child {
  background-color: red;
}

#main {
  height: 85%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
#main h1 {
  font-size: 42px;
  font-weight: 700;
}
#main p:nth-child(2) {
  margin-top: 4px;
}
#main p:nth-child(3) {
  margin-top: 27px;
}
#main div {
  margin-top: 15px;
}
#main div input {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 19px 24px;
  background: none;
  border-radius: 5px;
}
#main div button {
  background-color: red;
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 21px;
  border-radius: 5px;
  margin-left: 13px;
}
