* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
header {
  height: 90px;
  background-color: black;
}
#navbar {
  height: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
}
#brandName {
  display: flex;
  justify-content: center;
  align-items: center;
}
#brandName h1 {
  font-size: 48px;
  color: lightsalmon;
}
#brandName h1:hover {
  color: greenyellow;
  transform: scale(1.2);
}
#menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menus a {
  margin-right: 50px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menus a:hover {
  color: greenyellow;
  transform: scale(1.2);
}
#menus button {
  padding: 15px 30px;
  border-radius: 7px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
}

#categories {
  width: 90%;
  height: 170px;

  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#categories div {
  text-align: center;
}

#categories img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

#categories img:hover {
  border: 4px solid greenyellow;
}

#products {
  display: flex;

  margin: 30px auto;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

#card {
  width: 330px;
  padding: 10px;
  box-shadow: 0 0 10px green;
  text-align: center;
}

#card img {
  width: 100%;
  height: 200px;
  transition-property: transform;
  transition-duration: 2s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}
#card img:hover {
  transform: scale(1.2);
}
#card h3 {
  color: green;
}
#card h3,
p {
  margin: 17px 0px;
}
#card button {
  padding: 15px 30px;
  border: 0;
  box-shadow: 0 0 10px black;
  background-color: green;
  color: white;
  font-size: 13px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
